/* Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: #343434;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}

.header h1 {
  align-self: center;
}

ul {
  display: flex;
  list-style: none;
}

ul.menu {
  align-items: center;
  font-size: 14px;
}

ul.menu li {
  margin: 0px 20px;
  padding: 8px 32px;
  border-radius: 24px;
}

ul.menu a {
  color: #a5a5a5;
  display: flex;
  align-items: center;
}

ul.menu li.active {
  background-color: #0c2577;
}

ul.menu li.active a {
  color: white;
  font-weight: 600;
}

ul.profile-section {
  align-items: center;
}

ul.profile-section #notification {
  margin-right: 14px;
  background-color: #fafafa;
  border-radius: 32px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.profile-section #notification div {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.profile {
  display: flex;
  padding: 4px;
  border: 2px solid black;
  border-radius: 32px;
  align-items: center;
  text-decoration: none;
  border-color: #a5a5a5;
}

a.profile p {
  font-size: 12px;
  margin: 0;
}

/* Main */

.main {
  padding: 0px 32px;
}

div.background {
  border-radius: 32px 32px 0 0;
  background: rgb(215, 215, 215, 13%);
  padding: 24px 24px 0 24px;
}

div.background h1 {
  margin: 0;
  color: black;
}

.container {
  padding: 16px 0px;
}

/* Left Side */

.main-left {
  width: 80%;
  height: 100vh;
  padding-right: 16px;
}

/* Announcement */
.pengumuman {
  padding: 16px;
  border-radius: 16px;
  background: #ff2a2a;
  color: white;
}

/* Status */
.status {
  margin-top: 16px;
  background: white;
  border-radius: 16px;
  padding: 16px;
}

.status ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.status li {
  text-align: center;
  font: 400 12px Poppins;
}

.status li:nth-child(1),
.status li:nth-child(2) {
  text-align: left;
}

.status li b {
  font: 600 14px Poppins;
  text-align: center;
}

.status li:nth-child(13) {
  margin-right: 24px;
}

.line {
  border-left: 1.5px solid #c7c7c7;
  height: 39px;
}

/* Right Side */
.main-right {
  width: 20%;
  height: 100vh;
}
