/* Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html,
body {
  font-family: "Plus Jakarta Sans";
  margin: 0;
  min-height: 100%;
  font: 400 12px Plus Jakarta Sans;
}

a {
  text-decoration: none;
  color: #343434;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#inside {
  width: 30%;
}

h1 {
  font: 800 32px Plus Jakarta Sans;
  margin-bottom: 64px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 16px;
  margin: 12px 0px;
  border: 1px solid #717171;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
}

.input-field:focus {
  border: 2px solid #16369e;
}

.password-toggle-icon {
  position: absolute;
  transform: translate(-40px, 25px);
  cursor: pointer;
}

.password-toggle-icon img {
  display: none;
}

input[type="submit"] {
  width: 100%;
  padding: 16px;
  color: white;
  background: #0c2577;
  border: none;
  border-radius: 8px;
  font: 400 12px Plus Jakarta Sans;
  cursor: pointer;
  margin-top: 24px;
}

input[type="submit"]:hover {
  background: #16369e;
}

#info .text {
  position: absolute;
  top: 64vh;
  left: 85%;
  background: white;
  border-radius: 16px;
  border: 2px solid #eaeaea;
  box-shadow: 0px 4px 4px rgb(211, 211, 211, 32%);
  width: 20vh;
  height: 20vh;
  padding: 8px 16px 16px 16px;
  display: none;
}

#info .text.in {
  display: block;
}

.line {
  margin: 12px 0px;
  border-bottom: 1.5px solid #eaeaea;
  width: 100%;
  height: 2px;
}

#info .text p {
  font: 600 14px Plus Jakarta Sans;
}

#info .text .name p:nth-child(1),
#info .text .pass p:nth-child(1) {
  font: 400 10px Plus Jakarta Sans;
  margin: 0px;
}

#info .text .name p:nth-child(2),
#info .text .pass p:nth-child(2) {
  font: 600 12px Plus Jakarta Sans;
  margin-top: 2px;
}

#info img {
  position: absolute;
  top: 90vh;
  left: 95%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #inside {
    width: 80%;
  }

  #info img {
    position: absolute;
    top: 95vh;
    left: 80%;
    cursor: pointer;
  }

  #info .text {
    top: 75vh;
    left: 35%;
  }

  h1 {
    margin-bottom: 36px;
  }

  input[type="submit"] {
    margin-top: 16px;
  }
}
