/* Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html,
body {
  min-width: 100%;
  margin: 0;
  min-height: 100%;
  font: 400 12px Plus Jakarta Sans;
  /* position: fixed; */
}

a {
  text-decoration: none;
  color: #343434;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

textarea:focus-visible {
  outline: 2px solid #0c2577;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}

.header h1 {
  align-self: center;
}

.header-mobile {
  display: none;
}

ul {
  display: flex;
  list-style: none;
}

/* menu */

ul.menu {
  align-items: center;
  font-size: 14px;
}

ul.menu li {
  margin: 0px 20px;
  padding: 8px 32px;
  border-radius: 16px;
}

ul.menu a {
  color: #a5a5a5;
  display: flex;
  align-items: center;
}

ul.menu li.active-menu,
li.active-menu a {
  background-color: #0c2577;
  color: white;
  font-weight: 600;
}

.menu li:hover {
  background: #f8f8f8;
  color: #a5a5a5;
}

/* profile */

ul.profile-section {
  align-items: center;
}

#notification {
  margin-right: 14px;
  background-color: #fafafa;
  border-radius: 16px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notification div {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile {
  border: 2px solid #eaeaea;
  border-radius: 24px;
  text-decoration: none;
  background: white;
}

#profile:hover,
#profile.active {
  box-shadow: 0px 4px 4px rgb(211, 211, 211, 32%);
  cursor: pointer;
}

#profile button {
  padding: 4px;
  display: flex;
  font: 400 12px Plus Jakarta Sans;
  align-items: center;
}

#profile button img:nth-child(3) {
  transition: 250ms ease-out;
  transform: rotate(0);
}

#profile.active button img:nth-child(3) {
  transition: 250ms ease-in;
  transform: rotate(180deg);
}

#dropdown {
  margin-top: 8px;
  background: white;
  border: 2px solid #eaeaea;
  border-radius: 16px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0px;
  z-index: 999;
}

.dropdown-content {
  display: none;
}

.dropdown-content.active {
  display: block;
  box-shadow: 0px 4px 4px rgb(211, 211, 211, 32%);
}

.dropdown-menu a button {
  display: flex;
  align-items: center;
  width: 100%;
  font: 300 12px Plus Jakarta Sans;
  padding: 8px 16px;
}

.dropdown-menu:hover {
  background: #eaeaea;
  cursor: pointer;
}

.dropdown-menu button img {
  margin-right: 16px;
}

/* MAIN */
/* Main */
.main {
  padding: 0px 32px;
  min-height: 80vh;
}

div.background {
  border-radius: 32px 32px 0 0;
  background: rgb(215, 215, 215, 13%);
  padding: 24px;
  position: static;
  min-height: 100%;
}

/* breadcrumb */
.breadcrumb {
  display: flex;
  font: 400 14px Plus Jakarta Sans;
}

.line {
  margin: 12px 0px;
  border-bottom: 1.5px solid #eaeaea;
  width: 100%;
  height: 2px;
}

#hero {
  color: white;
  height: 15vh;
  border-radius: 24px;
  padding: 24px;
  position: relative;
}

.subject {
  position: absolute;
  top: 48%;
}

.subject h1 {
  font: 600 32px Plus Jakarta Sans;
  margin-bottom: 4px;
}

.subject h3 {
  font: 400 12px Plus Jakarta Sans;
}

/* Sub-menu */
#sub-menu {
  margin: 32px 0px 0px 24px;
  display: inline-block;
}

#sub-menu li {
  cursor: pointer;
  margin-right: 32px;
  font: 800 14px Plus Jakarta Sans;
  padding-bottom: 4px;
}

.active-submenu {
  border-radius: 4px;
}

/* main-content */
#main-content {
  padding: 16px 40px;
  display: flex;
}

.left-content {
  width: 60%;
}

.right-content {
  width: 40%;
  padding: 0px 0px 0px 32px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 16px 16px;
  box-shadow: 0px 4px 4px rgb(211, 211, 211, 32%);
  background-color: white;
}

.main-input {
  width: 100%;
  font: 400 12px Plus Jakarta Sans;
  border-color: white;
  display: block;
  border-radius: 8px;
  padding: 8px;
}

.name {
  margin-bottom: 16px;
  display: none;
  margin-top: 4px;
}

.text {
  display: flex;
  align-items: center;
  min-height: 40px;
}

#batalkan {
  padding: 8px 16px;
  border-radius: 4px;
  font: 300 12px Plus Jakarta Sans;
  margin-right: 16px;
  color: #a5a5a5;
}

#batalkan:hover {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #eaeaea;
  color: black;
}

#submit {
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #eaeaea;
  color: white;
  cursor: default;
}

#submit.active {
  border: 1px solid #4662ad;
  border-radius: 8px;
  background-color: #4662ad;
  cursor: pointer;
}

#submit.active:hover {
  border: 1px solid #0c2577;
  border-radius: 8px;
  background-color: #0c2577;
  cursor: pointer;
}

.input {
  display: none;
  justify-content: end;
}

.input button,
.input input {
  font: 400 12px Plus Jakarta Sans;
  cursor: pointer;
}

/* tugas materi post */
/* left-side */
.tugas,
.materi {
  display: flex;
  margin: 16px 0px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  align-items: center;
}

.materi-img,
.tugas-img {
  border-radius: 10px;
  margin-right: 16px;
  height: 5vh;
}

.desc {
  width: 100%;
  position: relative;
}

.settings {
  cursor: pointer;
}

.overlay-settings {
  display: none;
  position: absolute;
  right: -25px;
  top: 32px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #eaeaea;
  box-shadow: 0px 4px 4px rgb(211, 211, 211, 32%);
  cursor: pointer;
}

.overlay-settings li {
  padding: 8px 16px;
}

.overlay-settings ul:hover {
  background-color: #eaeaea;
}
.mid-desc {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* post */
.post {
  margin: 16px 0px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 16px;
}

.person,
.lecture-profile {
  display: flex;
  align-items: center;
  width: 100%;
}

.person .desc,
.lecture-profile .desc {
  display: flex;
  justify-content: space-between;
}

.isi {
  width: 100%;
  height: 50%;
}

.preview {
  width: 30%;
  background-image: url(../../../assets/pdf/A4\ -\ 1.jpg);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
}

.comment {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.comment-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 8px 16px;
  font: 400 12px Plus Jakarta Sans;
}

/* right-side */
.lecture {
  min-width: 40%;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  background-color: white;
}

.members {
  width: 40%;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  background-color: white;
}

.teks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.users {
  display: flex;
  justify-content: space-between;
}

.users div img {
  position: absolute;
  border: 2px solid white;
  border-radius: 32px;
}

.lihat {
  padding: 0px 4px;
  border-radius: 4px;
  font: 400 10px Plus Jakarta Sans;
  color: blue;
}

.lihat:hover {
  padding: 0px 4px;
  border-radius: 4px;
  background-color: rgba(139, 197, 255, 0.25);
}

.absensi {
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  background-color: white;
}

td {
  padding: 0px;
}

.tugas-small {
  margin-top: 16px;
  width: 36%;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  background-color: white;
}

.tugas-small ul {
  list-style-type: disc;
  padding: 0px 16px;
  margin-bottom: 8px;
}

/* overlay tugas & materi */
#background-popup {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 25%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 98;
  display: none;
}

.overlay {
  position: fixed;
  background: white;
  width: 80%;
  padding: 32px 32px;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  border-radius: 16px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: default;
  z-index: 99;
  display: none;
}

#overlay-tugas.full,
#overlay-materi.full {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.tugas:hover,
.materi:hover {
  cursor: pointer;
  background: #f8f8f8;
}

#heading {
  width: 100%;
  display: flex;
}

.close:hover,
.expand:hover {
  opacity: 100% !important;
}

.left-side {
  width: 3%;
  align-self: center;
}

.mid-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

#inside {
  display: flex;
}

/* middle-side */
.middle-side {
  width: 100%;
  padding: 0px 24px;
}

.right-side-content {
  width: 40%;
}

.btn-allComments button:hover {
  background: #f8f8f8;
}

.btn-allComments button {
  border-radius: 16px;
  padding: 4px 8px;
  font: 600 10px Plus Jakarta Sans;
  display: flex;
  color: #a5a5a5;
  align-items: center;
}

/* Right-side */
.tenggat {
  display: flex;
  justify-content: space-between;
  font: 600 10px Plus Jakarta Sans;
  padding: 0px 4px;
}

.box-tugas {
  margin-top: 8px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  background-color: white;
}

.add {
  margin-top: 24px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: white;
  font: 600 12px Plus Jakarta Sans;
}

.add:hover {
  color: #342f2f;
  border: 1px solid #0c2577;
}

.submit {
  margin-top: 4px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #4662ad;
  color: white;
  font: 600 12px Plus Jakarta Sans;
}

.submit:hover {
  background-color: #203776;
  color: white;
}

.priv-comment {
  margin-top: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: white;
  font: 600 12px Plus Jakarta Sans;
}

.input-comment {
  display: flex;
}

.input-comment input {
  font: 400 10px Plus Jakarta Sans;
}

.h-line {
  margin: 12px 0px;
  border-bottom: 1.5px solid #c7c7c7;
  width: 100%;
  height: 2px;
}

.file {
  display: flex;
  width: 16vw;
  margin-top: 16px;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0px;
  }

  /* Header */
  .header {
    display: none;
  }

  .header-mobile {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
  }

  #hamburger {
    margin-right: 24px;
    cursor: pointer;
  }

  .line-hamburger {
    width: 16px;
    height: 2px;
    background: #342f2f;
    margin: 2px;
  }

  #sidePanel {
    padding: 16px;
    position: fixed;
    background-color: white;
    width: 60%;
    height: 100%;
    z-index: 999;
    left: 0px;
    top: 0px;
    display: none;
  }

  #profile {
    align-items: center;
    display: flex;
    border: none;
  }

  #profile:hover {
    cursor: default;
    box-shadow: none;
  }

  #sidePanel ul {
    display: block;
  }

  #sidePanel ul li {
    box-sizing: border-box;
    padding: 8px;
    border-radius: 16px;
  }

  #sidePanel ul li a:hover,
  .profile-menu li a button:hover {
    background: #f8f8f8;
    color: #a5a5a5;
  }

  #sidePanel ul.menubar li a,
  .profile-menu li a button {
    display: flex;
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    box-sizing: border-box;
    align-items: center;
    color: #a5a5a5;
    font: 400 12px Plus Jakarta Sans;
  }

  #sidePanel ul.menubar li.active-menu a {
    background-color: #0c2577;
    color: white;
    font-weight: 600;
  }

  #sidePanel ul.menubar li.active-menu a:hover {
    background-color: #0c2577;
    color: white;
    font-weight: 600;
  }

  .profile-menu li a button img {
    margin-right: 8px;
  }

  #notification {
    margin-right: 0;
    background-color: #fafafa;
    border-radius: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #notification div {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main-content {
    display: block;
    padding: 0px;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    display: none;
  }

  #hero {
    padding: 16px 16px;
    border-radius: 16px;
  }

  .subject h1 {
    font: 600 22px Plus Jakarta Sans;
  }

  #sub-menu {
    margin: 16px 0px 0px 16px;
  }

  #sub-menu ul li {
    font: 600 10px Plus Jakarta Sans;
    margin-right: 16px;
  }

  .line {
    margin: 8px 0px 16px 0px;
  }

  .file {
    width: auto;
  }

  .btn-allComments {
    margin-bottom: 8px;
  }

  .comments .comment-person {
    height: 8vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .comment-person::-webkit-scrollbar {
    height: 6px;
  }

  .comment-person::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .comment-person::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 16px;
  }

  .comment-input {
    font: 400 10px Plus Jakarta Sans;
  }

  /* Overlay */
  .overlay {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    padding: 16px;
    overflow: scroll;
  }

  .left-side {
    width: fit-content;
  }

  .left-side img {
    margin: 0px;
    width: 24px;
    height: 24px;
    border-radius: 8px;
  }

  .mid-right {
    padding-left: 8px;
  }

  #judul,
  #judul-materi {
    font: 800 16px Plus Jakarta Sans;
  }

  #nm-dosen-tugas,
  #nm-dosen-materi {
    font: 600 10px Plus Jakarta Sans;
  }

  #tanggal-tugas,
  #tanggal-materi,
  #pertemuan-materi {
    font: 400 10px Plus Jakarta Sans;
  }

  .expand {
    display: none;
  }

  #inside {
    display: block;
  }

  .middle-side {
    padding: 0px;
  }

  .middle-side .line {
    margin: 8px 0px 8px 0px;
  }

  .middle-side .tenggat {
    padding: 0px;
    margin-bottom: 8px;
  }

  .right-side-content {
    padding-top: 4px;
    top: 60%;
    width: 100%;
  }

  .right-side-content .tenggat {
    display: none;
  }
}
