/* Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html,
body {
  margin: 0;
  min-height: 100%;
  font: 400 12px Plus Jakarta Sans;
}

a {
  text-decoration: none;
  color: #343434;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

textarea:focus-visible {
  outline: 2px solid #0c2577;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}

.header h1 {
  align-self: center;
}

ul {
  display: flex;
  list-style: none;
}

/* menu */

ul.menu {
  align-items: center;
  font-size: 14px;
}

ul.menu li {
  margin: 0px 20px;
  padding: 8px 32px;
  border-radius: 16px;
}

ul.menu a {
  color: #a5a5a5;
  display: flex;
  align-items: center;
}

ul.menu li.active-menu,
li.active-menu a {
  background-color: #0c2577;
  color: white;
  font-weight: 600;
}

.menu li:hover {
  background: #f8f8f8;
  color: #a5a5a5;
}

/* profile */

ul.profile-section {
  align-items: center;
}

#notification {
  margin-right: 14px;
  background-color: #fafafa;
  border-radius: 16px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notification div {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile {
  border: 2px solid #eaeaea;
  border-radius: 24px;
  text-decoration: none;
  background: white;
}

#profile:hover,
#profile.active {
  box-shadow: 0px 4px 4px rgb(211, 211, 211, 32%);
  cursor: pointer;
}

#profile button {
  padding: 4px;
  display: flex;
  font: 400 12px Plus Jakarta Sans;
  align-items: center;
}

#profile button img:nth-child(3) {
  transition: 250ms ease-out;
  transform: rotate(0);
}

#profile.active button img:nth-child(3) {
  transition: 250ms ease-in;
  transform: rotate(180deg);
}

#dropdown {
  margin-top: 8px;
  background: white;
  border: 2px solid #eaeaea;
  border-radius: 16px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0px;
}

.dropdown-content {
  display: none;
}

.dropdown-content.active {
  display: block;
  box-shadow: 0px 4px 4px rgb(211, 211, 211, 32%);
}

.dropdown-menu a button {
  display: flex;
  align-items: center;
  width: 100%;
  font: 300 12px Plus Jakarta Sans;
  padding: 8px 16px;
}

.dropdown-menu:hover {
  background: #eaeaea;
  cursor: pointer;
}

.dropdown-menu button img {
  margin-right: 16px;
}

/* Main */
.main {
  padding: 0px 32px;
}

div.background {
  border-radius: 32px 32px 0 0;
  background: rgb(215, 215, 215, 13%);
  padding: 24px 24px 16px 24px;
  position: static;
  height: 100%;
}

div.background h1 {
  margin: 0;
  color: black;
}

.container {
  padding: 16px 0px;
}

/* Left Side */

.main-left {
  width: 75%;
  height: 100%;
  padding-right: 16px;
}

/* Announcement */
.pengumuman {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #eaeaea;
  background: #ff2a2a;
  color: white;
}

/* Status */
.status {
  margin-top: 16px;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 16px;
}

.status ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.status li {
  text-align: center;
  font: 400 12px Plus Jakarta Sans;
}

.status li:nth-child(1),
.status li:nth-child(2) {
  text-align: left;
}

.status li b {
  font: 600 14px Plus Jakarta Sans;
  text-align: center;
}

.status li:nth-child(13) {
  margin-right: 24px;
}

.line-vertical {
  border-left: 1.5px solid #c7c7c7;
  height: 39px;
}

/* Class */
.on-going {
  margin-top: 16px;
  padding: 16px;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  height: 31vh;
}

.class {
  width: 20vw;
  border-radius: 16px;
  background: white;
  box-shadow: 0px 4px 4px 1px rgb(224, 224, 224, 66%);
}

.class.active {
  width: 24vw;
}

.class.active:nth-of-type(3) {
  width: 20vw;
}

.content {
  padding: 16px;
}

.on-going.active {
  min-width: 40%;
  box-shadow: 0px 4px 4px 1px rgb(70, 98, 173, 44%);
}

.schedule,
.about {
  display: flex;
  justify-content: space-between;
  color: #a5a5a5;
}

.h-line {
  margin: 12px 0px;
  border-bottom: 1.5px solid #c7c7c7;
  width: 100%;
  height: 2px;
}

.bottom-class {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-dosen {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.profile-dosen img {
  margin-right: 8px;
  width: 32px;
}

.berlangsung {
  border-radius: 16px;
  width: fit-content;
  padding: 8px 16px;
  background: #ff3636;
  align-self: center;
  color: white;
  display: none;
}

.berlangsung p {
  font: 300 10px Plus Jakarta Sans;
}

.active .berlangsung {
  display: block;
}

/* Bottom */
.bottom {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

/* Tugas */
.tugas-content {
  min-width: 37%;
  padding: 16px;
  border: 1px solid #eaeaea;
  background: white;
  border-radius: 16px;
  margin-right: 16px;
  height: min-content;
}

.tasks ul {
  display: block;
}

.tugas {
  background: rgb(215, 215, 215, 13%);
  border-radius: 16px;
  padding: 0px 24px 0px 0px;
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-marker {
  min-height: 56px;
  width: 16px;
  margin-right: 16px;
  border-radius: 16px 0px 0px 16px;
}

/* Materi */
.materi {
  width: 60%;
  height: 64vh;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 16px;
}

ul.material-list {
  display: block;
}

li.material {
  background: rgb(215, 215, 215, 13%);
  border-radius: 16px;
  padding: 16px;
  margin: 16px 0px;
  display: flex;
  align-items: center;
}

li.material:hover,
.tugas:hover {
  cursor: pointer;
  background: #e9e9e9;
}

.material p {
  font: 400 10px Plus Jakarta Sans;
}

.pelajari button {
  background: none;
  border: none;
}

/* Right Side */
.main-right {
  width: 25%;
  height: 100%;
}

/* Calendar */
.calendar {
  background: white;
  max-width: 100%;
  height: 60vh;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
}

.month {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}

.days ul {
  width: 100%;
  justify-content: space-between;
}

.day:nth-child(1) {
  color: red;
}

.day {
  font: 300 12px Plus Jakarta Sans;
  margin-bottom: 12px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px 0px;
  justify-items: center;
}

.date {
  padding: 5px;
  font: 300 12px Plus Jakarta Sans;
  text-align: center;
  width: 40%;
  height: 70%;
}

.date.inactive {
  color: #a5a5a5;
}

.date.active {
  background: #4662ad;
  box-shadow: none;
  color: white;
  border-radius: 16px;
}

.date.weekend.active {
  background: red;
  box-shadow: none;
  color: white;
  border-radius: 16px;
}

.date.weekend,
.date.holiday {
  color: red;
}

.event p {
  font: 400 12px Plus Jakarta Sans;
}

/* Zoom */
.zoom {
  max-width: 100%;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  background: white;
  margin-top: 16px;
}

.zoom p {
  font: 400 10px Plus Jakarta Sans;
}

#reminder {
  width: 100%;
  border-radius: 16px;
  justify-content: center;
  padding: 10px 0px;
  border: none;
  background: #fff731;
  border: 2px solid #fff731;
}

#reminder p {
  margin-right: 8px;
  font: 600 12px Plus Jakarta Sans;
}

#reminder:hover {
  box-shadow: 0px 4px 4px rgb(255, 247, 40, 40%);
}

#reminder.active {
  background: white;
  border: 2px solid #fff731;
  cursor: default;
}

.reminder {
  overflow: hidden;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.reminder div.content {
  position: absolute;
  display: block;
  padding: 0px;
}

.reminder div {
  display: flex;
  justify-content: center;
  height: 20px;
  align-items: center;
}

@keyframes active {
  0% {
    top: 0px;
    color: red;
  }
  50% {
    top: -10px;
    color: red;
  }
  100% {
    top: -20px;
    color: red;
  }
}

.materi,
.zoom {
  height: 30vh;
}

/* overlay */
/* overlay tugas */
#background-popup {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 25%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 98;
  display: none;
}

.overlay {
  position: fixed;
  background: white;
  width: 80%;
  padding: 32px 32px;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  border-radius: 16px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: default;
  z-index: 99;
  display: none;
}

#overlay-tugas.full,
#overlay-materi.full {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

#heading {
  width: 100%;
  display: flex;
}

.close:hover,
.expand:hover {
  opacity: 100% !important;
}

.left-side {
  width: 3%;
  align-self: center;
}

.mid-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

#inside {
  display: flex;
}

/* middle-side */
.middle-side {
  width: 100%;
  padding: 0px 24px;
}

.right-side {
  width: 40%;
}

.btn-allComments button:hover {
  background: #f8f8f8;
}

.btn-allComments button {
  border-radius: 16px;
  padding: 4px 8px;
  font: 600 10px Plus Jakarta Sans;
  display: flex;
  color: #a5a5a5;
  align-items: center;
}

/* Right-side */
.tenggat {
  display: flex;
  justify-content: space-between;
  font: 600 10px Plus Jakarta Sans;
  padding: 0px 4px;
}

.box-tugas {
  margin-top: 8px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  background-color: white;
}

.add {
  margin-top: 24px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: white;
  font: 600 12px Plus Jakarta Sans;
}

.add:hover {
  color: #342f2f;
  border: 1px solid #0c2577;
}

.submit {
  margin-top: 4px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #4662ad;
  color: white;
  font: 600 12px Plus Jakarta Sans;
}

.submit:hover {
  background-color: #203776;
  color: white;
}

.priv-comment {
  margin-top: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: white;
  font: 600 12px Plus Jakarta Sans;
}

.input-comment {
  display: flex;
}

.input-comment input {
  font: 400 10px Plus Jakarta Sans;
}

.line {
  margin: 12px 0px;
  border-bottom: 1.5px solid #eaeaea;
  width: 100%;
  height: 2px;
}

.preview {
  width: 30%;
  background-image: url(../../../assets/pdf/A4\ -\ 1.jpg);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
}

.comment {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.comment-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 8px 16px;
  font: 400 12px Plus Jakarta Sans;
}

.materi-img,
#materi-img,
#tugas-img {
  border-radius: 10px;
  margin-right: 16px;
  height: 5vh;
}
